In [11]:
import pandas as pd

data = pd.read_csv("./heart_attack_risk_dataset.csv")

data.head(10)

,Age,Gender,Smoking,Alcohol_Consumption,Physical_Activity_Level,BMI,Diabetes,Hypertension,Cholesterol_Level,Resting_BP,Heart_Rate,Family_History,Stress_Level,Chest_Pain_Type,Thalassemia,Fasting_Blood_Sugar,ECG_Results,Exercise_Induced_Angina,Max_Heart_Rate_Achieved,Heart_Attack_Risk
0,69,Female,1,0,Moderate,34.61,1,0,152.1,171,85,0,Moderate,Non-anginal,Reversible defect,0,Normal,0,114,Low
1,32,Male,0,0,Moderate,22.75,0,0,166.8,126,103,0,Low,Asymptomatic,Normal,0,ST-T abnormality,0,173,Moderate
2,89,Male,0,1,Moderate,35.32,0,0,272.3,123,127,0,Low,Typical,Reversible defect,0,ST-T abnormality,0,109,Low
3,78,Male,0,1,Moderate,18.23,1,0,237.7,144,125,0,Low,Typical,Fixed defect,1,Left Ventricular Hypertrophy,0,129,Low
4,38,Female,1,0,Moderate,19.82,0,0,207.7,123,107,0,High,Asymptomatic,Reversible defect,0,ST-T abnormality,0,124,Moderate
5,41,Male,0,1,Moderate,36.11,0,0,271.2,141,119,0,Low,Atypical,Fixed defect,0,Normal,0,101,High
6,20,Male,1,0,Low,15.12,0,0,164.8,154,67,0,Low,Non-anginal,Normal,0,Normal,0,176,Low
7,39,Female,0,0,Moderate,20.78,0,0,297.0,91,112,0,Low,Atypical,Normal,0,ST-T abnormality,1,134,Moderate
8,70,Male,0,1,High,29.20,0,0,280.7,121,71,0,Moderate,Non-anginal,Fixed defect,0,ST-T abnormality,0,168,Moderate
9,19,Female,0,0,High,35.54,0,1,275.0,167,76,0,Low,Typical,Reversible defect,1,Left Ventricular Hypertrophy,0,102,Moderate

In [7]:
y = data['Heart_Attack_Risk']
df_y = pd.DataFrame(y)
data = data.drop('Heart_Attack_Risk', axis=1)
df_y['Heart_Attack_Risk'] = df_y.Heart_Attack_Risk.map({'Low':0,'Moderate':1,'High':2})
df_y.head(10)

   Heart_Attack_Risk
0                  0
1                  1
2                  0
3                  0
4                  1
5                  2
6                  0
7                  1
8                  1
9                  1

In [8]:
standard = ['Age','BMI','Cholesterol_Level','Resting_BP','Heart_Rate','Max_Heart_Rate_Achieved']
data_n = data[standard]
data_D = (data_n-data_n.mean())/data_n.std()
data = data.drop(standard, axis=1)
data_D.head(10)

,Age,BMI,Cholesterol_Level,Resting_BP,Heart_Rate,Max_Heart_Rate_Achieved
0,0.750098,0.981380,-1.683769,1.411377,-0.472107,-1.224872
1,-1.028833,-0.660103,-1.344413,-0.325541,0.419551,0.822055
2,1.711683,1.079648,1.091099,-0.441335,1.608427,-1.398340
3,1.182811,-1.285693,0.292344,0.369226,1.509354,-0.704467
4,-0.740357,-1.065629,-0.400219,-0.441335,0.617697,-0.877935
5,-0.596120,1.188987,1.065705,0.253432,1.212135,-1.675890
6,-1.605783,-1.716132,-1.390584,0.755208,-1.363764,0.926136
7,-0.692278,-0.932760,1.661309,-1.676477,0.865379,-0.530998
8,0.798178,0.232609,1.285017,-0.518532,-1.165618,0.648586
9,-1.653863,1.110097,1.153430,1.256984,-0.917936,-1.641196

In [9]:
# Convert the data into a pandas DataFrame
df = pd.DataFrame(data)
col = ['Gender','Smoking', 'Alcohol_Consumption','Physical_Activity_Level','Diabetes','Hypertension','Family_History','Stress_Level','Chest_Pain_Type','Thalassemia','Fasting_Blood_Sugar','ECG_Results','Exercise_Induced_Angina']
dummies = pd.get_dummies(df,columns=col)
df_onehot = pd.concat([df, dummies], axis = 1)
df_onehot = df_onehot.drop(columns=col)
df_onehot[standard] = data_D
df_onehot['Heart_Attack_Risk'] = df_y
nan_count = df_onehot.isnull().sum().sum()
print('Number of NaN values:', nan_count)
df_onehot.to_csv('cleandata_one_hot_only.csv') 
df_onehot.head(10)

Number of NaN values: 0

,Gender_Female,Gender_Male,Smoking_0,Smoking_1,Alcohol_Consumption_0,Alcohol_Consumption_1,Physical_Activity_Level_High,Physical_Activity_Level_Low,Physical_Activity_Level_Moderate,Diabetes_0,...,ECG_Results_ST-T abnormality,Exercise_Induced_Angina_0,Exercise_Induced_Angina_1,Age,BMI,Cholesterol_Level,Resting_BP,Heart_Rate,Max_Heart_Rate_Achieved,Heart_Attack_Risk
0,True,False,False,True,True,False,False,False,True,False,...,False,True,False,0.750098,0.981380,-1.683769,1.411377,-0.472107,-1.224872,0
1,False,True,True,False,True,False,False,False,True,True,...,True,True,False,-1.028833,-0.660103,-1.344413,-0.325541,0.419551,0.822055,1
2,False,True,True,False,False,True,False,False,True,True,...,True,True,False,1.711683,1.079648,1.091099,-0.441335,1.608427,-1.398340,0
3,False,True,True,False,False,True,False,False,True,False,...,False,True,False,1.182811,-1.285693,0.292344,0.369226,1.509354,-0.704467,0
4,True,False,False,True,True,False,False,False,True,True,...,True,True,False,-0.740357,-1.065629,-0.400219,-0.441335,0.617697,-0.877935,1
5,False,True,True,False,False,True,False,False,True,True,...,False,True,False,-0.596120,1.188987,1.065705,0.253432,1.212135,-1.675890,2
6,False,True,False,True,True,False,False,True,False,True,...,False,True,False,-1.605783,-1.716132,-1.390584,0.755208,-1.363764,0.926136,0
7,True,False,True,False,True,False,False,False,True,True,...,True,False,True,-0.692278,-0.932760,1.661309,-1.676477,0.865379,-0.530998,1
8,False,True,True,False,False,True,True,False,False,True,...,True,True,False,0.798178,0.232609,1.285017,-0.518532,-1.165618,0.648586,1
9,True,False,True,False,True,False,True,False,False,True,...,False,True,False,-1.653863,1.110097,1.153430,1.256984,-0.917936,-1.641196,1

In [12]:
df_onehot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 39 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Gender_Female                             50000 non-null  bool
 1   Gender_Male                               50000 non-null  bool
 2   Smoking_0                                 50000 non-null  bool
 3   Smoking_1                                 50000 non-null  bool
 4   Alcohol_Consumption_0                     50000 non-null  bool
 5   Alcohol_Consumption_1                     50000 non-null  bool
 6   Physical_Activity_Level_High              50000 non-null  bool
 7   Physical_Activity_Level_Low               50000 non-null  bool
 8   Physical_Activity_Level_Moderate          50000 non-null  bool
 9   Diabetes_0                                50000 non-null  bool
 10  Diabetes_1                                50000 non-null  bool
 11  Hypertension_0                            50000 non-null  bool
 12  Hypertension_1                            50000 non-null  bool
 13  Family_History_0                          50000 non-null  bool
 14  Family_History_1                          50000 non-null  bool
 15  Stress_Level_High                         50000 non-null  bool
 16  Stress_Level_Low                          50000 non-null  bool
 17  Stress_Level_Moderate                     50000 non-null  bool
 18  Chest_Pain_Type_Asymptomatic              50000 non-null  bool
 19  Chest_Pain_Type_Atypical                  50000 non-null  bool
 20  Chest_Pain_Type_Non-anginal               50000 non-null  bool
 21  Chest_Pain_Type_Typical                   50000 non-null  bool
 22  Thalassemia_Fixed defect                  50000 non-null  bool
 23  Thalassemia_Normal                        50000 non-null  bool
 24  Thalassemia_Reversible defect             50000 non-null  bool
 25  Fasting_Blood_Sugar_0                     50000 non-null  bool
 26  Fasting_Blood_Sugar_1                     50000 non-null  bool
 27  ECG_Results_Left Ventricular Hypertrophy  50000 non-null  bool
 28  ECG_Results_Normal                        50000 non-null  bool
 29  ECG_Results_ST-T abnormality              50000 non-null  bool
 30  Exercise_Induced_Angina_0                 50000 non-null  bool
 31  Exercise_Induced_Angina_1                 50000 non-null  bool
 32  Age                                       50000 non-null  float64
 33  BMI                                       50000 non-null  float64
 34  Cholesterol_Level                         50000 non-null  float64
 35  Resting_BP                                50000 non-null  float64
 36  Heart_Rate                                50000 non-null  float64
 37  Max_Heart_Rate_Achieved                   50000 non-null  float64
 38  Heart_Attack_Risk                         50000 non-null  int64
dtypes: bool(32), float64(6), int64(1)
memory usage: 4.2 MB